body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title {
    color: rgb(174, 137, 235);
    font-size: 60px;
    text-align: center;
}

#range-display {
    color: white;
}

#song-menu {

    background-color: black;
    cursor: pointer;
    color: rgb(174, 137, 235);
    font-size: 20px;
}

#menu-div {
    text-align: center;
}

img {
    cursor: pointer;
    width: 40px;
}

#all-buttons {
    text-align: center;
}

.slidecontainer {
    text-align: center;
}

.slider {
    appearance: none;
    width: 31%;
    background-color: rgb(174, 137, 235);
    cursor: pointer;
    border-radius: 25px;
}

.slider:hover {
    opacity: 1;
}

#paragraph1 {
    text-align: center;
    color: rgb(174, 137, 235);
}

#paragraph2 {
    text-align: center;
    color: rgb(174, 137, 235);
    padding-left: 550px;
}

#playlist-output {
    text-align: center;
    color: white;
    padding-left: 550px;
}